@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Julee&family=Permanent+Marker&family=Roboto+Mono&family=Shadows+Into+Light&family=Ubuntu&display=swap');

:root {
    --heading-font: "Gloria Hallelujah", Julee, "Permanet Marker";
    --paragraph-font: Ubuntu, "Shadows Into Light", "Roboto Mono";
}

#content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    background-color: #acbea3;
}
body {
    background-color: #acbea3;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3a3335;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    text-decoration: none;
    padding: 35px;
    color: #eb5e28;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
.home-title {
    color: #081c15;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}
#hero-msg h1 {
    text-align: center;
    color: white;
}
#hero2-img {
    width: 100%;
}
h2 {
    margin: 0;
}

main section {
    text-align: center;
    margin: 50px;
}
main section img {
    box-sizing: border-box;
}

.msg {
    background-color:#5c80bc;
    padding: 35px;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg h2 {
    color: #081c15;
    font-family: var(--heading-font);
    font-size: 2em;
}
.msg p {
    color: #081c15;
    font-size: 1.5em;
    padding-bottom: 15px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
footer {
    background-color:#3a3335;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: #eb5e28;
    text-decoration: none
}
footer a:hover {
    color:#d9c2a3;
    text-decoration: underline;
}
footer p {
    font-size: 1.2em;
    color: #eb5e28;
}
footer .social img {
    padding-top: 15px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}